<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
{% block content %}
<h3><center>Movie Details</center></h3>
<div class="container">
<div class="row">
  <div class="col-sm-6">
    <div class="card" style="width: 14rem;">
      <img src="{{movie.image.url}}"height="260px"width="220px">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{movie.title}}</h5>
        <p class="card-text">{{movie.lang}}</p>
        <p class="card-text">{{movie.year}}</p>
        <a href="{% url 'movie:editbyid' movie.id %}" class="btn btn-warning">Update</a>
        <a href="{% url 'movie:deletebyid' movie.id %}" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
</html>